{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is defined %}
        Editar Persona
    {% else %}
        Crear Nueva Persona
    {% endif %}
{% endblock %}


{% block body %}

    <div class="example-wrapper">
        <h2>
            {% if edit is defined %}
                Editar Persona
            {% else %}
                Registrar Nueva Persna
            {% endif %}
        </h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
