{% extends 'base.html.twig' %}

{% block title %}Lista de Personas{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h2>Personas Registradas✅</h2>

        {{ include ('includes/persona-list.html.twig') }}

    </div>
{% endblock %}
