{% extends 'base.html.twig' %}

{% block title %}New Dirigente{% endblock %}

{% block body %}
    <h1>Create new Dirigente</h1>

    {{ include('dirigente/_form.html.twig') }}

    <a href="{{ path('dirigente_index') }}">back to list</a>
{% endblock %}
